body {
    color: white;
    background-color: darkblue;
}

.resultado {
    color: yellow;
    background-color: darkred;
}

.borrado {
    color: green;
    background-color: blue;
}

.ver {
    color: orange;
    background-color: pink;
}

h1 {
    text-align: center;
}